html {
    background-color: #222831;
    font-size: 20px;
    /* text-align: center; */
    /* margin: 0px; */
}

body {
    margin: 0;
}

h1 {
    color: #393e46;
    text-align: center;
}

h3 {
    color: #393e46;
}

p {
    color: #393e46;
}


/* h1 {
    margin: 0;
} */

*/
/* rgb(133, 51, 65) */

ul {
    background: rgb(26, 86, 94);
    padding: 20px;
    border: 1px solid black;
    margin: 0;
}

li {
    margin-left: 10px;
}


/* blockquote {
    margin-left: 0;
} */

mark {
    color: blue;
}

p {
    margin-left: 0px;
}

#navbar {
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    margin: 0;
    border-radius: 25px;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    margin-left: 8%;
    margin-right: 8%;
    opacity: 0.5;
    border-radius: 25px;
}

#navbar a:hover {
    background-color: rgb(8, 63, 8);
    color: rgb(63, 6, 6);
}

#About_me {
    margin-top: 80px;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    color: #f2f2f2;
    padding-bottom: 100px;
}

#About_me h1 {
    /* display: inline-block; */
    font-family: 'Satisfy', cursive;
    font-size: 60px;
    /* position: absolute;
    right: 50%; */
}

#About_me h3 {
    display: inline-block;
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    /* position: relative;
    top: 100px;
} */
}

#div1img {
    width: 400px;
    height: 400px;
    position: absolute;
    right: 100px;
    overflow: hidden;
}

#About_me1 {
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    margin-top: 10px;
    padding-bottom: 100px;
}

#About_me1 h1 {
    /* display: inline-block; */
    font-family: 'Satisfy', cursive;
    font-size: 60px;
    text-align: center;
}

#About_me1 p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    display: inline-block;
}

#div2img {
    width: 400px;
    height: 400px;
    position: absolute;
    right: 100px;
}

#projects {
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    margin-top: 10px;
}

#projimg {
    height: 200px;
    width: 300px;
    border-radius: 25px;
}

#description {
    display: inline-block;
    position: relative;
    bottom: 70px;
    left: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 100px;
}

#projects h1 {
    font-family: 'Satisfy', cursive;
    font-size: 60px;
    text-align: center;
}

#caption {
    display: inline-block;
    position: relative;
    top: 50px;
    right: 73%;
}